#mywebsite{
    margin: 0;
    padding: 0;
    position: relative; 

}



#landing{

    background-image: url("../img/landing-img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 84.3em;
    height: 35em;
    position: relative;
    margin: 0;
    padding: 0;
    
    color: white;
    padding-top: 24.1%;
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 520px;
    
    
    

    
}

h1{
    font-size: 46px;
    padding-bottom: 0px;
    margin: 0;
    text-shadow: -1px 0 black;
    text-indent: 0;
    
}

p{

    text-shadow: -1px 0 black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: justify;
}


#blog{
    
    margin: 0 auto;
    width: 70em;
    height: 30em;
    font-family: Arial, Helvetica, sans-serif;
    

}



div{
    
    
    background-color: whitesmoke;
    height: 350px;
    width: 270px;
    float: left;
    margin: 5px;
    border: 5px;
    font-size: 14px;
    padding-left: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

}

div:nth-of-type(3) {

    background-color: #1b1b1b;
    color: #e2e2e2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);

    


 }

 img{

    width: 270px;
    height: 200px;
    padding-left: 0px;
    float: left;
    padding-bottom: 20px;

}

section:nth-of-type(2) h2{
    padding-left: 450px;
    font-size: 35px;

}

h3{
    border: 0;
    font-size: 20px;
    padding-left: 11px;
    padding-top: 12px;
    margin: 0;

}

a{
    color: grey;
    text-decoration: none;
    text-align: right;
    width: 10%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    


}

a:hover{
    color: plum;
    text-decoration: none;
    text-align: right;  
    


}

div:nth-of-type(3) a{

    color: orange;

}

div:nth-of-type(3) a:hover{

    color: pink;

}


#services{
    text-align: center;
    background-color: #f1f1f1;
    width: 84.3em;
    height: 20em;
    margin: 0;
    position: relative;
    padding-top: 130px;
    font-family: Arial, Helvetica, sans-serif;
     

}

section:nth-of-type(3) ul > li{

    background-color: white;
    height: 50px;
    width: 190px;
    margin: 5px;
    border: 5px;
    padding-top: 30px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

section:nth-of-type(3) ul > li:hover{

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);


}

section:nth-of-type(3) ul > li:nth-of-type(1){

    background-color: orangered;

}

h2{
    
    padding-left: 55px;
    font-size: 30px;

}